---
import { getCollection, type CollectionEntry } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import '../../styles/article.css';
import { formatDate } from '../../lib/time';
import { getOpenGraphImage } from '../../lib/og';

export async function getStaticPaths() {
  const blogEntries = await getCollection('notes');
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

type Props = {
  entry: CollectionEntry<'notes'>;
};

const { entry } = Astro.props;
const { Content } = await entry.render();
const { title, publishedAt, description, author, tags, seo } = entry.data;
const date = formatDate(publishedAt!);

const ogImageUrl = seo?.ogImageUrl || getOpenGraphImage('note', entry.slug);
---

<Layout
  activePage='notes'
  title={`${title} | Arik Chakma`}
  description={description}
  keywords={seo?.keywords || tags}
  permalink={`/notes/${entry.slug}`}
  ogImageUrl={ogImageUrl}
>
  <article
    class="container prose mt-10 max-sm:prose-h2:text-xl max-sm:prose-h2:[font-variation-settings:'wght'_600] max-sm:prose-h3:text-lg max-sm:prose-h3:[font-variation-settings:'wght'_600] max-sm:prose-h4:text-lg max-sm:prose-h4:[font-variation-settings:'wght'_600] max-sm:prose-p:text-sm max-sm:prose-ol:text-sm"
  >
    <header>
      <h1
        class="mb-0 text-3xl tracking-[-0.02em] [font-variation-settings:'wght'_700] sm:text-4xl"
      >
        {title}
      </h1>
      <p
        class='mb-10 mt-2 flex items-center gap-1.5 font-mono text-sm text-gray-500'
      >
        <a
          href={`https://twitter.com/${author?.twitter}`}
          target='_blank'
          class='not-prose text-gray-500 no-underline hover:text-black'
        >
          {author?.name}
        </a>
        &middot; {date}
      </p>
    </header>

    <section>
      <Content class:list={['mt-5']} />
    </section>
  </article>
</Layout>
