---
import Layout from '../layouts/Layout.astro';

const activeProjects = [
  {
    title: 'Maily',
    description: 'Craft beautiful emails effortlessly',
    url: 'https://maily.to',
  },
  {
    title: 'Developer Roadmap',
    description: 'Roadmaps, articles and guides for developers',
    url: 'https://roadmap.sh',
  },
  {
    title: 'Roadmap Editor',
    description: 'Create and share your own developer roadmap',
    url: 'https://draw.roadmap.sh',
  },
];

const archievedProjects = [
  {
    title: 'Chat',
    description: 'Create project specific chat rooms',
    url: 'https://chat.arikko.dev',
  },
  {
    title: 'Tokens Army',
    description: 'Helps you explore your fantastic nfts',
    url: 'https://tokens-army.vercel.app',
  },
];
---

<Layout
  activePage='projects'
  title='Projects | Arik Chakma'
  description="Arik's projects and experiments."
>
  <main class='container mt-10 text-sm sm:text-base'>
    <p>
      Listed below are the projects in which I have participated, dedicating
      significant time and effort towards their creation, maintenance, and
      enhancement.
    </p>

    <ul class='mt-5'>
      {
        activeProjects.map((project, index) => {
          return (
            <li>
              <a
                href={project.url}
                target='_blank'
                rel='noreferrer'
                class:list={[
                  'flex sm:flex-row flex-col sm:items-center sm:justify-between sm:gap-2 py-2 hover:opacity-70',
                  index === 0 ? '' : 'border-t border-gray-200',
                ]}
              >
                <span>{project.title}</span>
                <span class='text-gray-500 sm:text-right'>
                  {project.description}
                </span>
              </a>
            </li>
          );
        })
      }
    </ul>

    <div class='mt-16'>
      <h3
        class="text-lg font-bold tracking-tight [font-variation-settings:'wght'_600]"
      >
        Archieved
      </h3>
      <p class='mt-1'>
        The following projects are ones I've been involved with previously, but
        they are no longer being actively <em>maintained</em>.
      </p>
    </div>

    <ul class='mb-28 mt-5'>
      {
        archievedProjects.map((project, index) => {
          return (
            <li>
              <a
                href={project.url}
                target='_blank'
                rel='noreferrer'
                class:list={[
                  'flex sm:flex-row flex-col sm:items-center sm:justify-between sm:gap-2 py-2 hover:opacity-70',
                  index === 0 ? '' : 'border-t border-gray-200',
                ]}
              >
                <span>{project.title}</span>
                <span class='text-gray-500 sm:text-right'>
                  {project.description}
                </span>
              </a>
            </li>
          );
        })
      }
    </ul>
  </main>
</Layout>
